<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/style.css')}}>
    <link rel="icon" href="{{url_for('static',filename='demo_images/favicon.ico')}}">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/signin/">

    <title>注册</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.4/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.4/examples/signin/signin.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <a href="{{ url_for('index') }}">首页</a>
    </div>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}

      <form class="form-signin" method="post" action="/registuser">
        <h2 class="form-signin-heading">欢迎注册</h2>
        <label for="inputusername" class="sr-only">用户名</label>
        <input type="text" id="inputusername" class="form-control"  placeholder="username" name='name' required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password' required>
        <label for="inputPhonenumber" class="sr-only">电话号码</label>
        <input type="tel" class="form-control" id="inputPhonenumber"  placeholder="phonenumber" name='phonenumber' required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住密码
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>

